html {
    margin: 0 auto;
}
body {
    /*background: #222D3A;*/
    /*min-height: 100%;*/
    margin: 0 auto;
    background: #fff;
    overflow-x: hidden;

}

#container {
    color: #000;
    height: 100%;
}

#head {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(#666666, #e0e0e0);
    color: #fff;
    z-index: 1000;
    margin: 0 auto;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/menulogo.png");
    height: 50px;
    width: 214px;
    background-repeat: no-repeat;

}
.navbar{
    /*left: 40%;*/
    font-size: 1em;
    margin-left: -20px;
}

#user {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px 0 0;
    width: 220px;
}

#menu {
    position: absolute;
    top: 0;
    left: 50%;
    width: 780px;
}

#menu ul{
    position: relative;
    left: -50%;
    display: block;
    margin: 0 10% 0 10%;/*prev was 23% on right*/
    list-style: none;
    display: block;
    float: left;
    }

#menu li {
    border-left: 1px solid white;
    border-right: 1px solid white;
    height: 37px;
    float: left;
    padding: 12px 20px 0 20px ;
    font-size: 1.4em;
}

#menu a, a:visited, a:active{
    display: block;
    /*height: 50px;*/
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    color: #2ECC71 ;
}

/*#menu li:hover{
    background: blue;
    }*/

#login {
    width: 300px;
    height: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -145px 0 50px -160px;
    padding: 20px;
    background-color: #2ECC71;
    box-shadow: 20px 20px 10px #000;
}

#login input {
    display: inline-block;
    line-height: 30px;
    width: 280px;
    padding: 10px;
    outline: 0;
}

#login input[type=submit]{
    width: auto;
    margin: 10px 0 0 110px;
    padding: 7px 15px;
    background: #27AE60;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

#login input[type=submit]:hover{
    background:#75dda1;
    box-shadow: 0px 0px 5px grey;

}

#login_logo {
    width: 300px;
    height: 80px;
    background-image: url("../img/loginlogo.png");

}

#message {
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 10;
    margin: 145px 0 0 -120px ;
    color: #ffffff;
}

#searchbox {
    display: block;
    width: 1024px;
    height: auto;
    margin: 50px auto;
    /*border: 2px solid steelblue;*/
}

#searchbox h2 {
    background:url("../img/bullet.jpg") no-repeat left ;
    display: block;
    margin-left: 30%;
    padding-left: 40px;
}

#search input {
    background: #A5ACB2;
    margin: 10px auto;
    display: block;
    height: 20px;
}

#result ul{
    width: 131px;
    display: block;
    margin: -10px auto;
    border: 2px solid #A4C6FD;
}

#result li {
    display: block;
    list-style: none;
    margin-left: -30px;
    padding: 2px 0 2px 0;

}

#result a {
    text-decoration: none;
    }

#result a:hover {
    color: #2ECC71;
}

#wrapper {
    margin: 0 0 0 200px;
}

.main{
    margin:50px 0 0 130px;
    /*margin-left: 130px;*/
}

#sidemenu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 105px;
    background:linear-gradient(to left, #e0e0e0, #666666);
    overflow: hidden;
    height: 100%;
    border: solid #ffffff 2px;
}

#sidemenu ul{
    /*width: 100px;*/
    /*background:#666666;*/
    /*height: 100%;*/

}

#sidemenu li{
    display: block;
    text-align: center;
    /*background:url("../img/green_arrow.png") no-repeat right;*/
    width: 105px;
    padding: 10px 0 10px 0;
    font-size: 1.2em;
}

#sidemenu li::before{
    /*content: url("../img/green_arrow.png");*/
}

#sidemenu li a{
    text-decoration: none;
}

#sidemenu a:link ,a:visited {
    color: #000000;
}

#sidemenu a:hover{
    color: #2ECC71;
    /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;;*/
    text-shadow: 1px 1px 2px black, 0 0 25px #2ECC71, 0 0 5px green;
}

li.active {
    color: #fff !important;
}

/*#sidemenu a:active{*/
    /*color: #fff;*/
/*}*/

#add_new a {
    text-decoration: none;
    color: #000;
}

#add_new a:hover{
    color: #2ECC71;

}

.print {
    margin: 0 auto;
}

.dashHeading {
    font-weight: bold;
    color: #69BE28;
    text-shadow: 1px 1px 2px black, 0 0 25px #2ECC71, 0 0 5px green;

}

#table {
    display: block;
    /*width: 1024px;*/
    height: auto;
    margin: 0 auto;
}

#table th{
    width:150px;
    text-align: center;
    font-size: 1.2em;
    background: #666;
}
.table th{
    /*width: 150px;
    text-align: center;*/
    font-size: 1.2em;
    color:#fff;
    background: #000;
}

#table td{
    padding: 5px;
    text-align: center;
}

#table td input{
    width: 130px;
}

#table td select{
    width: 120px !important;
}

#table th.edit {
    width: 40px;
}

#table td.edit {
    font-size: .85em;
    width: 40px;
}

#subtable {
    padding-left: 50px;
    margin: 0 auto;

}

#subtable th{
    width: 150px;
    text-align: center;
    font-size: 1em;
    border: 2px solid #000;
}

#subtable td{
    text-align: center;
    border: 1px solid #000;
}

#subtable th.edit {
    width: 40px;
}

#subtable td.edit {
    font-size: .6em;
}

#subtable tr td.finalise {
    font-size: 1.15em;
    margin-left: 200px;
}

table.dataTable{
    padding-right: 20px;
}
.dataTables_filter,.dataTables_paginate{
    padding-right: 20px;
}
table.dataTable.table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #666;
    /*color: #69BE28;*/
}
table.dataTable tbody tr a {
    color: #69BE28;
}

.buttonInside{
    /*width: 30%;*/
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
    color: #000;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *cursor: hand;
    color: #000 !important;
    border: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #cacaca;
    background-color: grey;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, grey), color-stop(100%, #dcdcdc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, grey 0%, #dcdcdc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, grey 0%, #dcdcdc 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, grey 0%, #dcdcdc 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, grey 0%, #dcdcdc 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, grey 0%, #dcdcdc 100%);
    /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #fff !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.paginate_button a{
    background-color: #2ECC71;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    /*border: 1px solid #111;*/
    background-color: #2ECC71;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2ECC71), color-stop(100%, green));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2ECC71 0%, green 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #2ECC71 0%, green 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #2ECC71 0%, green 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #2ECC71 0%, green 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #2ECC71 0%, green 100%);
    /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
    /* W3C */
    box-shadow: inset 0 0 3px #111;
}
.paging_numbers_simple{
    color: #000;
}
